<%= form_for [@article] do |f| %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.collection_select :user_id, User.order(:username), :id, :username, include_blank: true %>
  <p><%= f.submit %></p>
<% end %>
