
<center>
  <div class="header">
    <%= link_to "https://www.youtube.com/watch?v=TUjSn5NMZ-o" do %>
    <%= image_tag "y.png", class: "header-image" %>
    <% end %>

    <h3 class="header-title">Hacker News</h3>
    <span id="links">
      <a class="general-links" href="/new">new</a>|
      <a class="general-links" href="/comments">comments</a>|
      <a class="general-links" href="/show">show</a>|
      <a class="general-links" href="/ask">ask</a>|
      <a class="general-links" href="/jobs">jobs</a>|
      <a class="general-links" href="/articles/new">submit</a>
    </span>
    <a id="login" href="/users/new">login</a>

  </div>
  <% @articles.each do |article| %>
    <p><a href="<%= article.link %>"><%= article.title %></a></p>
    <p>Added by <%= User.find(article.user_id).username %></p>
  <% end %>
</center>
