
<center>
  <div class="header">
    <%= link_to "https://www.youtube.com/watch?v=TUjSn5NMZ-o" do %>
    <%= image_tag "y.png", class: "header-image" %>
    <% end %>

    <h3 class="header-title">Hacker News</h3>
    <span id="links">
      <a class="general-links" href="/new">new</a>|
      <a class="general-links" href="/comments">comments</a>|
      <a class="general-links" href="/show">show</a>|
      <a class="general-links" href="/ask">ask</a>|
      <a class="general-links" href="/jobs">jobs</a>|
      <a class="general-links" href="/articles/new">submit</a>
    </span>
    <a id="login" href="/users/new">login</a>

  </div>
  <ol>
    <% @articles.each do |article| %>
      <li>
        <div class="list-item">
          <h4><a href="<%= article.link %>"><%= article.title %></a></h4>
          <p><%= article.points %> points by <%= User.find(article.user_id).username %> at <%= article.created_at %></p>
        </div>
      </li>
    <% end %>

  </ol>
</center>
